.adminLayout{
    .adminShow{
        display: flex;
    }
    .adminInfo{
        display: none;
    }
}

@media only screen and (max-width: 1024px){
    .adminLayout{
        .adminShow{
            display: none;
        }
        .adminInfo{
            display: flex;
            height: 100vh;
            .detail{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                img{
                    width: 10rem !important;
                    height: auto;
                }
                p{
                    color: red;
                }
            }
        }
    }
}