@import '../../../index.scss';

.btnPrimary {
    @extend .btnPrimary;
}

.quenPass{
    font-size: 1rem;
    font-style: italic;
    color: $text-dark-color;
    &:hover{
        transition: all 0.3s;
        color: $pink-primary;
        font-style: normal;
    };
}