// custom
@import './assets/config/variables';

// bootstrap
// @import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-colors: (
    'pink-primary': #d82d8b,
    'blue-color':#0ca5e9,
    
    'bg-pink-color': #fef1f6,
    'bg-light-color': #fafafa,
    'bg-dark-color': #262626,
    'bg-13-yellor-color': #ddbc3e,
    'bg-16-yellor-color': #e88022,
    'bg-18-red-color': #9b211f,
    'bg-P-green-color': #579b42,
    
    'bg-ghe-thuong': #722ed1,
    'bg-ghe-vip': #f5212d,
    'bg-ghe-doi': #eb2f95,
    'bg-ghe-da-dat': #404040,
    
    'text-dark-color': #525252,
    'text-dark-hover-color': #181818,
    'text-secondary-color': #a3a3a3,
    
    'header-border-color': rgb(226 232 240),
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

@import "bootstrap/scss/utilities/api";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--font-color);
    font-family: font-movies, 'Quicksand', sans-serif
}

a{
    all: unset;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      color: inherit;
    }
}

.fs-7{
    font-size: 0.825rem;
}

.fs-8{
  font-size: 0.75rem;
}

.z-1 {
  z-index: 1;
}

.z-3{
  z-index: 2;
}

.z-5 {
  z-index: 5;
}


